* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    /* font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
    font-family: 'Avenir Next';
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: minmax(5vh, auto);
  margin: 0 auto;
}

#title {
  grid-column: 1/10;
  grid-row: 1/3;
  padding-left: 20px;
  padding-top: 40px;
  /* background-color: #2B2A48; */
  background-image: linear-gradient(to top, #1F1E33 0%, #55538F 100%);
  font-size: 20pt;
  color: white;
  margin-bottom: -50px;
}
#login {
  grid-column: 10/14;
  grid-row: 1/3;
  padding-top: 22px;
  /* background-color: #2B2A48; */
  background-image: linear-gradient(to top, #1F1E33 0%, #55538F 100%);
  /* font-size: 15pt; */
  color: white;
  margin-bottom: -50px

}
h2 {
  border:2px solid white;
  font-weight: normal;
  text-align: center;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#canyonsList {
  grid-column: 1/14;
  grid-row: 3/5;
  /* background-color: #D58936; */
  background-image: linear-gradient(to top, #D58936 0%, #DA9636 100%);
  /* background-image: linear-gradient(to top, #C9782F 0%, #FFC12C 100%); */
  /* background-image: linear-gradient(to top, #CC722D 0%, #FF8F38 100%); */
  font-size: 20pt;
  color: white;
  text-align: center;
}
#clClick {
  grid-column: 1/14;
  grid-row: 3/5;
  background-color: transparent;
}

#nearMe {
  grid-column: 1/14;
  grid-row: 5/7;
  /* background-color: #A44200; */
  background-image: linear-gradient(to top, #A44200 0%, #B45800 100%);
  /* background-image: linear-gradient(to top, #8F3A00 0%, #C77200 100%); */
  font-size: 20pt;
  color: white;
  text-align: center;
}
#nmClick {
  grid-column: 1/14;
  grid-row: 5/7;
  background-color: transparent;
}

#favorites {
  grid-column: 1/14;
  grid-row: 7/9;
  /* background-color: #69140E; */
  /* background-image: linear-gradient(to top, #69140E 0%, #8F1B13 100%); */
  /* background-image: linear-gradient(to top, #69140E 0%, #8F1B13 100%); */
  background-image: linear-gradient(to top, #5E120D 0%, #8F1B13 100%);
  /* background-image: linear-gradient(to top, #420D09 0%, #8F1B13 100%); */
  font-size: 20pt;
  color: white;
  text-align: center;
}
#fClick {
  grid-column: 1/14;
  grid-row: 7/9;
  background-color: transparent;
}

p {
  padding-top: 50px;
}




/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
